extends ../layout

block content
  h1 Book Collection
  form(action=`/books/search`, method="get")
    input(name = "search", type="text", placeholder="Title, author, etc..")
    input(type="submit", value="Search")
  p
    a(class="button", href="/books/new") Create New Book

  table(class="center") 
    thead 
      tr 
        th Title 
        th Author 
        th Genre 
        th Year
    tbody 
      each book in books  
        tr
          td
            a(href=`/books/${book.id}`)=book.title
          td=book.author 
          td=book.genre 
          td=book.year
  br
  -var i = 1;
    div(class="pagination")
      ul
        while i < pages + 1
          li
            a(class="button", href=`/books/pages/${i}`, style="margin-right: 3px;") #{i++}